.coordinates {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    bottom: 40px;
    left: 10px;
    padding: 5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    display: none;
    }
    .mapbox {
        position: relative;
        width: 100%; 
        height: 300px;
    }
    img {
        top: 50%;
        left: 50%;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        // animation: rebota 1s alternate infinite ease-out;
        transform: translate(-50%,-100%);
        z-index: 100;
    }