<ion-content>
  <div fxLayout="column" fxLayoutAlign="center center" style="height: 100%;">
    <div>
      <img style="width: 40%;" src="/assets/img/qr-scan.svg" alt="" srcset="">
    </div>
    <div style="width: 80%;">
      <form>
        <ion-item>
          <ion-label color="medium" position="floating">Usuario</ion-label>
          <ion-input ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="medium" position="floating">Contraseña</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <section style="margin-top: 2em;">
          <ion-button color="tertiary" (click)="irHome()" expand="block" fill="outline">
            <ion-text color="tertiary">
              Ingresar
            </ion-text>
          </ion-button>
        </section>
      </form>
    </div>
  </div>
</ion-content>